html, body {
  background: url("../assets/images/download.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
    font-family:'Gruppo', cursive;
}

.toggle {
    font-size: 16px;
    margin-top: 15px !important;
    color: #fff !important;
    display: block;
}

.toggle:hover {
    text-decoration: underline !important;
    color: black !important;
}

.greeting-message {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.day-message {
    font-weight: 900;
    font-size: 40px;
    color: black;
  text-align: center;
  animation: glows 1s ease-in-out infinite alternate;
}

.date {
    position: absolute;
    top: 55%;;
    font-weight: 900;
    font-size: 35px;
    color: black;
  text-align: center;
  animation: glows 1s ease-in-out infinite alternate;
}

.floating-astro {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
}

.floating-alien {
    position: absolute;
    /* top: 0;
    right: 0; */
    height: 150px;
    top: 29%;
}

.fa-money-check-alt {
    color: black;
  text-align: center;
  animation: glows 1s ease-in-out infinite alternate;
}

.fa-youtube {
    color: black;
  text-align: center;
  animation: glows 1s ease-in-out infinite alternate;
}

.fa-twitch {
    color: black;
  text-align: center;
  animation: glows 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  @-webkit-keyframes glows {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px aqua, 0 0 40px aqua, 0 0 50px aqua, 0 0 60px aqua, 0 0 70px aqua;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px lightblue, 0 0 40px lightblue, 0 0 50px lightblue, 0 0 60px lightblue, 0 0 70px lightblue, 0 0 80px lightblue;
    }
  }
